

body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
 }

 h1 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: italic;
     font-weight: bold;
     font-size: 60px;
 }

 h2 {
     font-weight: bold;
     font-size: 30px;
 }

 .Instructions {
     border: 3px dotted white;
     width: 50%;
     height: 100px;
 }

 #Wins_Losses_Guesses {
    border: 3px solid white;
    width: 50%;
    height: 100px;
}

#underScore {
    border: 3px solid white;
    font-weight: bold;
    text-align: center;
    width: 50%;
    height: 100px;
    color: darkblue;
}

#lettersGuessed {
    border: 3px solid white;
    width: 50%;
    height: 100px;
}

